*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
.App{
  font-family: 'Rubik', sans-serif;
}
.btn{
  display: flex;
  justify-content: center;
  align-items:center ;
  color:white;
  background-color: black;
  border: none;
  padding: .3rem .9rem;
  border-radius: 5px;
  border: 1px solid black;
  transition: all .8s;
}
.btn:hover{
  color: black;
  background-color: white;
  border: 1px solid black;
}
@media (max-width:480px){
  .popup-content{
    width: 90% !important;
  }
  /* [role="tooltip"].popup-content{
    width: 50% !important;
  } */
}