.More{
    font-family: 'poppins' , sans-serif;
    display: flex;
    flex-direction: column;
}
.More>span{
    padding: 5px;
}
.More>span:hover{
    background-color: black;
    color: #ddd;
}
@media (max-width:480px) {
    [role="tooltip"].popup-content{
        width: 80% !important;
    }

    
}