.modal{
    overflow: auto;
    max-height: 60vh;
    padding: 2rem;
    font-family: rubik;
}
.modal > .close {  
    cursor: pointer;  
    position: absolute;  
    display: block;  
    padding: 2px 5px;  
    line-height: 20px;  
    right: -10px;  
    top: -10px;  
    font-size: 24px;  
    background: #ffffff;  
    border-radius: 18px;  
    border: 1px solid #cfcece;
}
.header{
    text-align: center;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
form>img{
    width: 360px;
    height: 240px;
    align-self: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.modal>form>input:nth-of-type(1){
    display: none; 
}
.inputForm{
    width: 100%;
    padding: .6rem .8rem;
}
.double-input{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
label{
    font-weight: 300;
}